body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url('static/background.jpeg'); /* Replace 'background.jpg' with your actual background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.news-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

.search-container {
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

.search-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-btn:hover {
    background-color: #2980b9;
}

.dropdown {
    margin: 20px;
    text-align: center;
}

.dropbtn {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.search-bar {
    background-color: #f0f0f0; /* Use a light grey color as the background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    padding: 10px; /* Add padding to make it visually appealing */
}
