<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>News Page</title>
</head>
<body>

<div class="news-container">
    <header>
        <h1>News Page</h1>
        <div class="search-container">
            <input type="text" placeholder="Search...">
            <button type="button" class="search-btn"onclick="window.location.href='{{ url_for( 'dataTablePage' , table='Y' ) }}';">Search</button>
        </div>
    </header>

    <div class="dropdown">
        <button class="dropbtn">Select Category</button>
        <div class="dropdown-content">
            
            <a href="{{ url_for('handle_api_call',category="business") }}" >Business</a>
            <a href="{{ url_for('handle_api_call',category="entertainment") }}" style="background-image: url('entertainment-category.jpg');">Entertainment</a>
            <a href="{{ url_for('handle_api_call',category="general") }}" style="background-image: url('general-category.jpg');">General</a>
            <a href="{{ url_for('handle_api_call',category="health") }}" style="background-image: url('health-category.jpg');">Health</a>
            <a href="{{ url_for('handle_api_call',category="science") }}" style="background-image: url('science-category.jpg');">Science</a>
            <a href="{{ url_for('handle_api_call',category="sports") }}" style="background-image: url('sports-category.jpg');">Sports</a>
            <a href="{{ url_for('handle_api_call',category="technology") }}" style="background-image: url('technology-category.jpg');">Technology</a>
        </div>
    </div>
</div>

</body>
</html>
