<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>News Web App</title>
</head>
<body>

<div class="news-container">
    {% for item in news %}
    <div class="news-item">
        <img src="{{ item.urlToImage }}" alt="News Image">
        <h2>{{ item.Title }}</h2>
        <p class="news-summary">{{ item.Description }}</p>
        <a href="{{ item.url }}" class="read-more-btn">Read More</a>
    </div>
    {% endfor %}
</div>

</body>
</html>
